<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="col-xs-12">
        <label for="redRange" class="form-label">Red range</label>
        <div class="slider-color" [ngStyle]="redAmountRGB"></div>
        <input id="redRange" type="range" class="form-range" min="0" max="255" [(ngModel)]="red" (input)="updateColor()">
        <div class="slider-value">{{red}}</div>
        <div class="color-preview" [ngStyle]='redPreview'></div>
      </div>
      <div class="col-xs-12">
        <label for="greenRange" class="form-label">Green range</label>
        <div class="slider-color" [ngStyle]="greenAmountRGB"></div>
        <input id="greenRange" type="range" class="form-range" min="0" max="255" [(ngModel)]="green" (input)="updateColor()">
        <div class="slider-value">{{green}}</div>
        <div class="color-preview" [ngStyle]="greenPreview"></div>
      </div>
      <div class="col-xs-12">
        <label for="blueRange" class="form-label">Blue range</label>
        <div class="slider-color" [ngStyle]="blueAmountRGB"></div>
        <input id="blueRange" type="range" class="form-range" min="0" max="255" [(ngModel)]="blue" (input)="updateColor()">
        <div class="slider-value">{{blue}}</div>
        <div class="color-preview" [ngStyle]="bluePreview"></div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3">
      <div class="color-preview" [ngStyle]="finalPreview"></div>
      <button class="form-control" (click)="saveColor()">Save color</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-12" *ngFor="let color of storedColors">
      <app-savedcolor [savedcolor]="color"></app-savedcolor>
    </div>
  </div>
</div>
  
