<ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let task of tasksList">
        {{ task }}
    </li>
</ul>

<div>
    <h1>History of updates</h1>
    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let storie of storiesList">
                <td>{{ storie.id }}</td>
                <td>{{ storie.date | date: 'MMM-dd' }}</td>
                <td>{{ storie.description }}</td>
                <td>{{ storie.notes }}</td>
            </tr>
        </tbody>
    </table>
</div>