<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" draggable>Coffee</li>
            <li class="list-group-item" draggable>Tea</li>
            <li class="list-group-item" draggable>Milk</li>
        </ul>
    </div>
    <div class="row">
        <div droppable>
            <p>Drop items here</p>
        </div>
    </div>
</div>

<script id="DragDropTouch" src="https://bernardo-castilho.github.io/DragDropTouch/DragDropTouch.js"></script>