<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item" *ngIf="!isUserLogged">
          <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isUserLogged">
          <a class="nav-link active" aria-current="page" routerLink="logout">Logout</a>
        </li>
        <li class="nav-item" *ngIf="isUserLogged">
          <a class="nav-link" routerLink="newcontent">Add New</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="aboutme">About me</a></li>
            <li><a class="dropdown-item" routerLink="colorpicker">Color picker</a></li>
            <li><a class="dropdown-item" routerLink="charts">Charts</a></li>
            <li><a class="dropdown-item" routerLink="blackjack">Black jack</a></li>
            <li><a class="dropdown-item" routerLink="paint">Paint</a></li>
            <li><a class="dropdown-item" routerLink="nafta">NAFTA</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="weather" *ngIf="isUserLogged">Weather</a></li>
            <li><a class="dropdown-item" routerLink="dbsmanager" *ngIf="isUserLogged">Mongo dbs</a></li>
            <li><a class="dropdown-item" routerLink="prodmonitor">Prod Monitor</a></li>
            <li><a class="dropdown-item" routerLink="chat" *ngIf="isUserLogged">Chat</a></li>
            <li><a class="dropdown-item" routerLink="comingsoon">Coming soon...</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">v0.1</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<div class="container">
  <router-outlet></router-outlet>
</div>