<p>Chat component log into another window</p>

<div class="container">
    <div class="overflow-auto">
        <div class="message-space" *ngFor="let thismessage of messages">
            <div class="msg-received">
                {{thismessage}}
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">New Message:</span>
            <input type="text" class="form-control" name="valueMessage"
                placeholder="What are your thoughts?" aria-label="What are your thoughts" 
                aria-describedby="basic-addon1" [(ngModel)]="message" (keyup.enter)="sendMessage()" autofocus>
                <button (click)="sendMessage()" class="btn btn-primary" >Send</button>
        </div>    
    </div>
</div>
