
<div style="margin-top: 20px;">
    <h2>Simple dashboard with amcharts</h2>
</div>
<div class="row">
    <!-- <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="barchart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="piechart" style="width: 100%; height: 400px"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <div id="mapchart" style="width: 100%; height: 800px;"></div>
        </div>
    </div> -->
    <h2>Scatter chart</h2>
    <div class="col-xs-12">
        <div class="card">
            <div id="scatterchart" style="width: 100%; height: 800px;"></div>
        </div>
    </div>
    <h2>XY chart</h2>
    <div class="col-xs-12">
        <div class="card">
        <div id="xyvaluechart" style="width: 100%; height: 800px;"></div>
        </div>
    </div>
</div>
