<div class="container fixedmargin">
    <div class="row">
        <div class="col-xs-12 col-lg-3" *ngFor="let namedb of databases">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Database:</div>
                    <p class="card-text">
                        {{ namedb }}
                    </p>
                    <button href="#" class="btn btn-primary" (click)="showListOfCollections(namedb)" data-bs-toggle="modal" data-bs-target="#modalCollections">Open</button>
                </div>
            </div>
        </div>
    </div>    
</div>


<div id="modalCollections" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{dbselected}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p *ngFor="let collection of collections">
            {{collection}}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>