.whitecolor {
    color: rgba(255, 255, 255, 1);
    transition: color 5s ease;
}

.blackcolor {
    color: black;
    transition: color 5s ease;
}

.goldcolor {
    color: #a38548;
    transition: color 5s ease;
}

.clearcolor {
    color: rgba(255, 255, 255, 0);
    transition: color 5s ease;
}

.nicefont {
    font-family: GreatVibes;
}

.bigfont {
    font-size: 13vw;
}

.section-header-font-size {
    font-size: 7vw;
}

.header-margin {
    margin-top: 50px;
}

.audio-margin {
    margin-top: 100px;
}

.countdown-box {
    margin-top: 100px;
    height: 1in;
    background-color: #b1944f99;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.timestamp-font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.tinyfont {
    font-size: 20px;
}

.savethedate {
    margin-top: 50px;
}

.mediumfont {
    font-size: 3vw;
}

.monofont {
    font-family: 'Courier New', Courier, monospace;
}

.hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* position: relative; */
}

.hero-image2 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.bg-marmol {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/backgrounds/bg-marble.jpg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/backgrounds/texture.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-lasrocas {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/backgrounds/bg-lasrocas.png"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/backgrounds/bg-lasrocas2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-hoja {
    background-image: url("/assets/backgrounds/bg-paper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tallsection {
    height: 7in;
}

.tallsection2 {
    height: 10in;
}

.smallsection {
    height: 1in;
}

.goldfontsize {
    font-size: 5vw;
}

.ceremoniareligiosa-box {
    margin-top: 1in;
    padding-top: 10px;
    height: 3in;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/landscape/parroquia.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.fiesta-box {
    margin-top: 1in;
    padding-top: 10px;
    height: 3in;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/backgrounds/bg-lasrocas2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.headerheight {
    height: in;
}

.section {
    height: 3.5in;
}

.animate-fade-in-on-scroll {
    /* Define your fadeInOnScroll animation styles here */
    transition: 700ms;
    transform: translateY(-20px);
}

.gold-border {
    border: 2px solid #b1944f;
    height: 90%;
    margin: 10px 10px 10px 10px;
}

.img-invitacion {
    width: 100%;
    max-width: 200px;
}

.font-invitacion {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.bottombokeh {
    position: absolute;
    bottom: 0;
    align-items: center;
}

.button-golden-yes {
    background-color: #a38548;
    border-color: #a38548;
    width: 200px;
}

.button-golden-no {
    background-color: whitesmoke;
    border-color: #a38548;
    width: 200px;
    color: #b1944f;
}

.button-external-link {
    background-color: #a38548;
    border-color: #a38548;
    width: 200px;
    border-radius: 25px;
}

@media (min-width: 200px) {
    .goldfontsize {
        font-size: 50pt;
    }
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url("/assets/images/landscape/main_picture_scaled.jpg");
    }
    .hero-image2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url("/assets/images/landscape/golden.jpg");
    }
    .countdown-box {
        font-size: 9vw;
    }
    .tinyfont {
        font-size: 3vw;
    }
    .gold-border {
        width: 90%;
    }
}

@media (min-width: 600px) {
    .tinyfont {
        font-size: 15px;
    }
}

@media (min-width: 700px) {
    .gold-border {
        width: 600px;
    }
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url("/assets/images/landscape/main_picture.jpg");
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url("/assets/images/landscape/PRX_0184.JPG"); */
    }
    .hero-image2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url("/assets/images/landscape/golden.jpg");
    }
}

@media (min-width: 800px) {
    .bigfont {
        font-size: 55px;
    }
    .mediumfont {
        font-size: 33px;
    }
}