<h4>Please type username and password to enable more features</h4>

<form [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Email:</label>
            <input name="email" formControlName="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" type="password" class="form-control" placeholder="Enter password">
        </div>
    </fieldset>
    <div class="form-buttons margintop">
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
</form>

<div>
    <h4>Validate token</h4>
    <button class="btn btn-primary" (click)="verify()">Check token</button>
    {{ isValid }}
</div>

<div>
    <h5>Logout user</h5>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>
